h1{
    color:#ffa511;
    font-family: league spartan;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration:double underline teal;
    



}