div{
    background-color: rgb(232, 239, 20);
}
/* form{
    background-color: red;
} */

input{
    background-color:inherit;
}
button{
    background-color:inherit;
}
button:hover{
    background-color: red;
}