 h1{
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: red;
 }
 h3{
     text-align: center;
     font: Georgia;
     color: black;
 }
 h4{
    text-align: center;
    
 }
 p{
    color: rgb(171, 44, 44);
    text-align: center;
    font-family: Georgia;
    line-height: 30px;
    
}
a{
    text-decoration: none;
    color: green;
}
button{
    background-color: white;
    color: blueviolet;
    text-align: center;
}
textarea{
    color: black;
    text-align: center;
}
span{
    text-decoration: underline;
}